$text-color: #51667e;

@media screen and(max-width: 1200px) {
  .container {
    padding-right: 0px;

    .main-container {
      .description-setup-project {
        margin-left: 0px;
      }

      .video-from-events {
        margin-left: 0px;
        iframe {
      width: 725px;
      height: 367px;
        }
        .button-to-video {
          width: 105px;
          height: 367px;

          a {
            p {
              top: 240px;
            }
          }

        }
      }
    }
  }
}

@media screen and(max-width: 1024px) {
  body .container {
    .event-container {
      .new-event {
        .logo-new-event {
          img {
            width: 124px;
            height: 124px;
          }
        }

        .new-event-description {
          h1 {
            font-size: 3em ;
          }

          div.new-event-date {
            h4 {
              margin-top: 10px;
            }
          }
        }
      }
    }
    .main-container {
      .video-from-events {
          iframe {
            width: 527px;
            height: 267px;
          }
          .button-to-video {
            width: 95px;
            height: 267px;

            a {
              p {
                top: 200px;
              }
            }

          }
        }
   }
  }
}

@media screen and(max-width: 924px) {
 .container {
    .event-container {
      .new-event {
        div.new-event-description {
          font-size: .6em;
        }

        .new-event-date {
          h4 {
            font-size: 1.5em;
            margin-top: 45px !important;
            font-weight: bold;
          }
        }
      }
    }

    .lector {
        margin-top: 30px;
        padding-bottom: 10px;
        text-align: center;
        border-bottom: 1px solid $text-color;

        h4,
        p {
          margin-left: auto;
          margin-right: auto;
          max-width: 350px;
        }
    }
  }
}

@media screen and(max-width: 780px) {
  .event-container {
    div.new-event {
      max-width: 740px;
    }
  }

  .container {
    .main-container{
      div.video-from-events {
        iframe {
          width: 439px;
          height: 223px;
        }
        .button-to-video {
          width: 90px;
          height: 223px;

          a {
            p {
              top: 150px;
            }
          }

        }
      }
    }
  }
}

@media screen and(max-width: 660px) {
  .container {
    .main-container{
      div.video-from-events {
        iframe {
          width: 420px;
          height: 223px;
        }
        div.button-to-video {
          width: 420px;
          height: 50px;
          background-size: 3%;
          background-position: 400px;

          a {
            p {
              top: 40%;
            }
          }

        }
      }
    }
  }
}


@media screen and(max-width: 510px) {
  .container {
    padding-left: 0px !important;
    .event-container {
      div.new-event {
        div.logo-new-event {
          float: none !important;
          width: 197px !important;
          margin: 0 auto !important;

          img {
            width: 197px;
            height: 197px;
          }
        }

        div.new-event-description {
          margin: 20px auto;
          display: block;
          max-width: 250px;
          text-align: center;
          font-size: .45em;
        }

        h1 a{
              white-space: normal !important;
              line-height: 1em;
            }

        .new-event-date {
          h4 {
            margin-top: 5px !important;
            font-weight: bold;
          }
        }
      }
    }

    .main-container{
      div.video-from-events {
        iframe {
          width: 320px;
          height: 223px;
        }
        .button-to-video {
          width: 320px !important;
          height: 50px;
          background-size: 3%;
          background-position: 310px !important;

          a {
            p {
              top: 40%;
            }
          }

        }
      }
    }

  }
}

* {
  padding: 0;
  margin: 0;
}

// navbar

.container >.navbar-header {
    margin-right: 0px   ;
    margin-left: 0px;
}

.navbar {
  margin-bottom: 0px;
  min-height: 110px;
  border: none;
  background-color: #ffffff;

  .container {
      #navbar {
      .navbar-nav {
        margin: 25px;

        li a {
          padding-bottom: 10px;
          border-bottom: 2px solid #c8c8c8;
          text-transform: uppercase;
        }

        li:hover a,
        li.active a {
          background-color: #ffffff;
          border-bottom: 2px solid #f48932;
        }
      }
    }
  }
}

// container

body > .container  {
  padding: 0;
  height: 100%;
  width: 100%;
}

// new event

.event-container {
  width: 100%;
  padding-bottom: 45px;
  background-image: url("../../images/bg-jumbotron.png");

  .new-event {
    padding-top: 45px;
    max-width: 1150px;

    .logo-new-event {
      margin-right: 25px;
      float: left;
    }

    .new-event-description {
      max-width: 800px;
      display: inline-block;
      color: $text-color;

      h1 {
        margin-top: 0px;
        margin-bottom: 20px;
        line-height: 0.8em;
        font-size: 4.5em;

        a {
          font-weight: bold;
          white-space: nowrap;
          color: $text-color;
        }
      }

      .want-go {
        margin-top: 30px;
        width: 190px;
        height: 60px;
        border-radius: 0px;
        border: none;
        color: #ffffff;
        background-color: #f59331;

        h3 {
          margin: 0;
        }
      }

      .want-go:hover {
        background-color: #557DF7;
      }
    }

    .new-event-date {
      h4 {
        margin-top: 60px;
        font-weight: bold;
      }
    }
  }
}

// description SetUp project

.main-container {
  .description-setup-project {
    margin-left: 100px;
    color: $text-color;

    .description-setup-project-info {
      h4 {
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 1.8em;
        font-weight: bold;
      }

      p {
        margin-bottom: 30px;
        font-size: 1.3em;
      }
    }

    .lector {
      margin-top: 70px;
      margin-bottom: 110px;
      h4 {
        font-weight: bold;
      }
    }
  }

  .video-from-events {
    margin-left: 100px;

    .section-name-video {
      margin-bottom: 35px;
      color: $text-color;
      font-weight: bold;
    }

    iframe {
      display: inline-block;
      width: 870px;
      height: 440px;
    }

    .button-to-video {
      display: inline-block;
      width: 105px;
      height: 440px;
      background-color: #f1f3f5;
      background-image: url('../../images/Rectangle.png');
      background-size: 40%;
      background-repeat: no-repeat;
      background-position: center;

      a {
        float: left;
        height: 100%;
        color: $text-color;

        p {
          position:relative;
          top: 300px;
        }

      }
    }
  }

  .information-partners {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: $text-color;

    h4 {
      margin-bottom: 50px;
      font-weight: bold;
    }

    a {
      margin-top: 20px;
      margin-bottom: 20px;
      display: inline-block;
    }
  }



}