@media screen and(max-width: 986px) {
  .container .jumbotron {
    padding-left: 15px;
    padding-right: 0px;

    .new-event-description {
      h1 {
        font-size: 2.5em;
      }
    }
  }
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  // font-family: Helvetica;
}

// navbar
.navbar {
  min-height: 110px;
  border: none;
  background-color: #ffffff;
  .container {
    .navbar-header {
      .navbar-brand {
        height: 110px;
      }
    }


    #navbar {
      .navbar-nav {
        margin: 25px;

        li a {
          padding-bottom: 10px;
          border-bottom: 2px solid #c8c8c8;
          text-transform: uppercase;
        }

        li:hover a,
        li.active a {
          background-color: #ffffff;
          border-bottom: 2px solid #f48932;
        }
      }
    }
  }
}

// container
body > .container  {
  padding: 0;
  height: 100%;
  width: 100%;


  .jumbotron {
    margin-top: 110px;
    height: 390px;
     background-image: url("../../images/bg-jumbotron.png");
    .new-event {
      max-width: 1150px;
      margin-left: auto;
      margin-right: auto;

      .logo-new-event {
        margin-right: 25px;
        float: left;
      }

      .new-event-description {
        max-width: 800px;
        display: inline-block;
        color: #51667e;

        h1 {
          margin-top: 0;
          margin-bottom: 20px;
          line-height: 0.8em;
          a {
            font-weight: bold;
            white-space: nowrap;
            color: #51667e;
          }
        }

        .want-go {
          margin-top: 30px;
          width: 190px;
          height: 60px;
          border-radius: 0px;
          border: none;
          color: #ffffff;
          background-color: #f59331;

          h3 {
            margin: 0;
          }
        }

        button.want-go:hover {
          background-color: #557DF7;
        }
      }

      .new-event-date {
        h4 {
          margin-top: 60px;
          font-weight: bold;
        }
      }
    }
  }
}

.footer {
  margin-top: -60px;
}